.navbar {
	width: 90%;
	margin:	auto;

}
.jumbotron {
	background-image: url(background.jpg);
	background-size: 100%;
	background-position: center;
	justify-content: center;
	text-align: center;
	display: flex;
	border-style: 1px solid;
	width: 100%;
	margin:	auto;
	flex-direction: column;

}